# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui

list_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]

list_ano = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

        

series_anomalia = pd.Series(data = list_anomalia_termica)
print(series_anomalia)


series_ano = pd.Series(data = list_ano)
print(series_ano)


series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64
0    1900
1    1920
2    1940
3    1960
4    1980
5    2000
6    2020
dtype: int64
1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:
# seu código aqui
series_junto = pd.Series(data = list_anomalia_termica, index = list_ano)
print(series_junto)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [5]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dt_arr = pd.DataFrame(arr)
dt_arr

             0           1           2
0    97.201233   96.873736  105.624195
1   106.011508  100.941109   97.810782
2   109.950838   92.917169  101.056880
3   106.511733  103.048042   83.040032
4   106.306857   98.906559  111.094417
5   111.053400  103.602606  113.048809
6    94.107964  100.296679  100.838685
7    88.541121  103.042927  103.827069
8   120.877063   86.456379  115.846896
9    93.140730  103.624452   96.204924
10   99.443500  105.198734   97.846399
11  107.311638   99.081682   89.695825
12  111.067836  112.899058   94.932650
13  112.690397   92.632732   95.419156
14   86.217110  120.328574  105.726781
15  112.124050  100.251872  100.851230
16   90.484263  106.577202  102.967286
17  114.869039   93.514241  113.561657
18   83.675841   97.662625  105.826333
19   79.286931   98.152281   74.452641

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [6]:
list_index = list(range(1,len(dt_arr)+1))
list_index = list(map(lambda num: 'x'+str(num), list_index))

dt_arrcomindice = pd.DataFrame(data = arr, index = list_index)
dt_arrcomindice

              0           1           2
x1    97.201233   96.873736  105.624195
x2   106.011508  100.941109   97.810782
x3   109.950838   92.917169  101.056880
x4   106.511733  103.048042   83.040032
x5   106.306857   98.906559  111.094417
x6   111.053400  103.602606  113.048809
x7    94.107964  100.296679  100.838685
x8    88.541121  103.042927  103.827069
x9   120.877063   86.456379  115.846896
x10   93.140730  103.624452   96.204924
x11   99.443500  105.198734   97.846399
x12  107.311638   99.081682   89.695825
x13  111.067836  112.899058   94.932650
x14  112.690397   92.632732   95.419156
x15   86.217110  120.328574  105.726781
x16  112.124050  100.251872  100.851230
x17   90.484263  106.577202  102.967286
x18  114.869039   93.514241  113.561657
x19   83.675841   97.662625  105.826333
x20   79.286931   98.152281   74.452641

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [7]:
dt_arrcomindice['media'] = dt_arrcomindice.mean(axis = 1)
dt_arrcomindice

              0           1           2       media
x1    97.201233   96.873736  105.624195   99.899721
x2   106.011508  100.941109   97.810782  101.587800
x3   109.950838   92.917169  101.056880  101.308296
x4   106.511733  103.048042   83.040032   97.533269
x5   106.306857   98.906559  111.094417  105.435945
x6   111.053400  103.602606  113.048809  109.234938
x7    94.107964  100.296679  100.838685   98.414443
x8    88.541121  103.042927  103.827069   98.470372
x9   120.877063   86.456379  115.846896  107.726779
x10   93.140730  103.624452   96.204924   97.656702
x11   99.443500  105.198734   97.846399  100.829544
x12  107.311638   99.081682   89.695825   98.696382
x13  111.067836  112.899058   94.932650  106.299848
x14  112.690397   92.632732   95.419156  100.247428
x15   86.217110  120.328574  105.726781  104.090822
x16  112.124050  100.251872  100.851230  104.409051
x17   90.484263  106.577202  102.967286  100.009584
x18  114.869039   93.514241  113.561657  107.314979
x19   83.675841   97.662625  105.826333   95.721600
x20   79.286931   98.152281   74.452641   83.963951

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [10]:
dt_arrcomindice['log_med'] = np.log(dt_arrcomindice['media'])
dt_arrcomindice

              0           1           2       media   log_med
x1    97.201233   96.873736  105.624195   99.899721  4.604167
x2   106.011508  100.941109   97.810782  101.587800  4.620923
x3   109.950838   92.917169  101.056880  101.308296  4.618168
x4   106.511733  103.048042   83.040032   97.533269  4.580194
x5   106.306857   98.906559  111.094417  105.435945  4.658104
x6   111.053400  103.602606  113.048809  109.234938  4.693501
x7    94.107964  100.296679  100.838685   98.414443  4.589188
x8    88.541121  103.042927  103.827069   98.470372  4.589756
x9   120.877063   86.456379  115.846896  107.726779  4.679598
x10   93.140730  103.624452   96.204924   97.656702  4.581458
x11   99.443500  105.198734   97.846399  100.829544  4.613431
x12  107.311638   99.081682   89.695825   98.696382  4.592048
x13  111.067836  112.899058   94.932650  106.299848  4.666264
x14  112.690397   92.632732   95.419156  100.247428  4.607641
x15   86.217110  120.328574  105.726781  104.090822  4.645264
x16  112.124050  100.251872  100.851230  104.409051  4.648316
x17   90.484263  106.577202  102.967286  100.009584  4.605266
x18  114.869039   93.514241  113.561657  107.314979  4.675768
x19   83.675841   97.662625  105.826333   95.721600  4.561444
x20   79.286931   98.152281   74.452641   83.963951  4.430388